<footer class="footer">
    <div class="footer-content">
        <h2>William Denis Fernando Chiroy Méndez</h2>
        <h5>denis7chiroy62@gmail.com</h5>
        <h7>Programador Junior</h7>
    </div>
    <div class="">
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
    </div>
    </div>
</footer>