 <nav class="navbar">
            <div class="brand">
                <h1>W<span>C</span></h1>
            </div>
            <ul class="menu">
                <li><a class="active" href="/" class="selected">INICIO</a></li>
                <li><a href="/generic" class="selected">Acerca de mí</a></li>
                <li><a href="/elements" class="selected">Portafolio</a></li>
                <li><a href="#contact-section" class="selected">Contacto</a></li>
            </ul>
            
  </nav>