<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="brand">
                <h1>W<span>C</span></h1>
            </div>
            <ul class="menu">
                <li><a class="active" href="index.html" class="selected">INICIO</a></li>
                <li><a href="generic.html" class="selected">Acerca de mí</a></li>
                <li><a href="elements.html" class="selected">Portafolio</a></li>
                <li><a href="#contact-section" class="selected">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="portfolio" id="portfolio"> 
        <div class="portfolio-headings">
            <h2>Mi Portafolio</h2>
            <div class="divider"></div>
        </div>
    
        <div class="container">
            <div class="card">
                <div class="card_img">
                </div>
                <div class="card_title">
                    <h2>Descripcion del proyecto:</h2>
                    <p>"COMPILADOR"</p>
                    <p>Diseño de aplicación que genere las fases correspondientes a un compilador,
                        siendo estas las principales:</p>
                    <p>Gestión de archivos.</p>
                    <p>Analizador léxico.</p>
                    <p>Analizador sintáctico.</p>
                    <p>Analizador semántico.</p>
            </div>
            <div class="projects-links">
                <a href="" target="_blank">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class="" style="color: #fff;"></i>
                </a>
            </div>
            <div class="proyect-details-content">
                <button class="projects-details dowland-cv">
                    <a href="https://drive.google.com/drive/folders/1AtP1S_C6VEI0CD-LYD9G2QcRuwjtZuJN" target="_blank">
                        Detalles del proyecto
                    </a>
                </button>
            </div>
            </div>
            <div class="card">
                <div class="card_img1">
                </div>
                <div class="card_title">
                    <h2>Descripcion del proyecto:</h2>
                    <P>"CLIENTE-SERVIDOR"</P>
                    <p>Se mostrará el código y donde se describe la función de cada línea del
                        programa utilizado Python sobre la cual consta de montar un servidor
                        en el dispositivo Raspberry pi con su respectivo cliente. RaspberryPI-OS 
                        es una distribución del sistema operativo GNU/Linux Debian.</p>
            </div>
            <div class="projects-links">
                <a href="" target="_blank">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class="" style="color: #fff;"></i>
                </a>
            </div>
            <div class="proyect-details-content">
                <button class="projects-details dowland-cv">
                    <a href="https://drive.google.com/drive/u/0/folders/1KnktLY1XYkt4R2JZRQZdPFeHnKlBsyZk" target="_blank">
                        Detalles del proyecto
                    </a>
                </button>
            </div>
            </div>
            <div class="card">
                <div class="card_img2">
                </div>
                <div class="card_title">
                    <h2>Descripcion del proyecto:</h2>
                    <p>"TABLAS PARTICIONADAS"</p>
                    <p>Creacion de formulario web donde se llame a la partición y agregar
                        a DB,triggers, procedimientos almacenados, funciones.Clase 
                        de impresión formatos pdf, xls, txt, xml.
                        Buscar por zona, primera letra 
                        del nombre, codigo y mostrarlos en un reporte.</p>
            </div>
            <div class="projects-links">
                <a href="" target="_blank">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class="" style="color: #fff;"></i>
                </a>
            </div>
            <div class="proyect-details-content">
                <button class="projects-details dowland-cv">
                    <a href="">
                        Detalles del proyecto
                    </a>
                </button>
            </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio"> 
        <div class="portfolio-headings">
    
            <div class="divider"></div>
        </div>
    
        <div class="container">
            <div class="card">
                <div class="card_img3">
                </div>
                <div class="card_title">
                    <h2>Descripcion del proyecto:</h2>
                    <p>"CCNA V6"</p>
                    <p>Los capitulos abajo descritos, incluen las prácticas de laboratorio, quiz y actividades de drag and drop 
                        que figuran en cada capitulo.</p>
                    <p>Modulo 1</p>
                    <p>Modulo 2</p>
                    <p>Modulo 3</p>
                    <p>Modulo 4</p>
            </div>
            <div class="projects-links">
                <a href="" target="_blank">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class="" style="color: #fff;"></i>
                </a>
            </div>
            <div class="proyect-details-content">
                <button class="projects-details dowland-cv">
                    <a href="https://drive.google.com/drive/folders/1AtP1S_C6VEI0CD-LYD9G2QcRuwjtZuJN" target="_blank">
                        Detalles del proyecto
                    </a>
                </button>
            </div>
            </div>
            <div class="card">
                <div class="card_img4">
                </div>
                <div class="card_title">
                    <h2>Descripcion del proyecto:</h2>
                    <P>"IMPEMENTACIÓN DE ITOP"</P>
                    <p>Curso de WHITE BELT y la importancia de las 5'S y el crecimiento de 
                        la empresa es necesario que se implemente una herramienta que permita mejorar 
                        la gestión de los procesos dentro del área de IT.VirtualBox,ITOP,Ubuntu-Server
                        ,Windows 10-cliente</p>
            </div>
            <div class="projects-links">
                <a href="" target="_blank">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class=""></i>
                </a>
                <a href="">
                    <i class="" style="color: #fff;"></i>
                </a>
            </div>
            <div class="proyect-details-content">
                <button class="projects-details dowland-cv">
                    <a href="https://drive.google.com/drive/u/0/folders/1KnktLY1XYkt4R2JZRQZdPFeHnKlBsyZk" target="_blank">
                        Detalles del proyecto
                    </a>
                </button>
            </div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="contact-section" id="contact-section">
        <div class="contact-headings">
            <h2>Mantenerse en contacto</h2>
            <div class="divider"></div>
        </div>
    
    
        <div class="container-contact">
            <img src="./img/estadisticas-facebook.png" alt="">
    
            <div class="contact-form">
                <h4>Enviar un mensaje...</h4>
    
                <form class="form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Por favor coloca tu mensaje aqui...">
                    </textarea>
                    <button class="btn-submit">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-content">
            <h2>William Chiroy Méndez</h2>
            <h5>Programador Junior</h5>
        </div>
        <div class="">
            <i class=""></i>
            <i class=""></i>
            <i class=""></i>
            <i class=""></i>
        </div>
        </div>
    </footer>
    
</body>
</html>