<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
     <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <!-- Header -->
    {{> header}}


<div class="portfolio"> 

       <div class="portfolio" id="portfolio"> 
    <div class="portfolio-headings">
        <article class="typing_effect">
        <h2>¡Contáctame!</h2>
        </article>
        <div class="divider"></div>
    </div>
  
        </div>
        <div class="card">
            <div class="card_img4">
            </div>
            <div class="card_title">
                <h2>Email:</h2>
                <p>denis7chiroy62@gmail.com</p>
                <h2>Tel:</h2>
                <p>5020000000</p>
                <h2>"Conoce mi trabajo"</h2>
        </div>
        <div class="projects-links">
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://github.com/05WilliamCH?tab=repositories" target="_blank">
                    Perfil en GitHub
                </a>
            </button>
        </div>
        </div>
        </div>
    </div>
</div>
    
    
        <div class="container-contact">
            <img src="/images/estadisticas-facebook.png" alt="">
    
            <div class="contact-form">
                <h4>Enviar un mensaje...</h4>
    
                <form class="form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Por favor coloca tu mensaje aqui...">
                    </textarea>
                    <button class="btn-submit">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
   {{> footer}}
    
</body>
</html>