<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
     <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <!-- Header -->
    {{> header}}

   <div class="portfolio" id="portfolio"> 
    <div class="portfolio-headings">
        <article class="typing_effect">
        <h2>Mi Portafolio</h2>
        </article>
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card_img6">
            </div>
            <div class="card_title">
                <h2>Robot Automatizado:</h2>
                <p>"Descripcion del proyecto"</p>
                <p>Pruebas Automatizadas de la pagina Web de Compras; registro de cliente, realiza 
                    automatizacion de compra con credenciales correctas</p>
                <p>Software utilizado:</p>
                <p>-Java IDE</p>
                <p>-Serenety</p>
                <p>-Cucumber</p>

        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://github.com/BartoloLacan/appUMG" target="_blank">
                    Detalles del proyecto en GitHub
                </a>
            </button>
        </div>
        </div>
        <div class="card">
            <div class="card_img5">
            </div>
            <div class="card_title">
                 <h2>Pedido e Inventario:</h2>
                <P>"Descripcion del proyecto"</P>
                <p>Sistema Web de Pedido e Inventario para la Pasteleria Israel ubicado en el municipio de
                    Santiago Atitl치n del Departamento de Solol치</p>
                <p>Modulos principales</p>
                <p>-Pedidos</p>
                <p>-Inventario</p>
                <p>-Clientes</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://github.com/05WilliamCH/FRONTEND_Pasteleria_israel.git" target="_blank">
                    Detalles del proyecto en GitHub
                </a>
            </button>
        </div>
        </div>
        <div class="card">
            <div class="card_img7">
            </div>
            <div class="card_title">
                <h2>Base de datos:</h2>
                <p>"Descripcion del proyecto:"</p>
                <p>Se elaboro la base de datos y rutas en el backend de la Pasteleria Israel ubicada
                    en el municipio de Santiago Atitl치n del departamento de Solol치:
                </p>
                <p>Software utilizado:</p>
                <p>-PostgreSQL</p>
                <p>-JavaScript</p>
                <p>-NodeJS</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://github.com/UMG-Pasteleria/BACKEND_Pasteleria_Israel.git" target="_blank">
                    Detalles del proyecto en GitHub
                </a>
            </button>
        </div>
        </div>
    </div>
</div>


    
        <div class="container-contact">
            <img src="/images/estadisticas-facebook.png" alt="">
    
            <div class="contact-form">
                <h4>Enviar un mensaje...</h4>
    
                <form class="form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Por favor coloca tu mensaje aqui...">
                    </textarea>
                    <button class="btn-submit">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
   {{> footer}}
    
</body>
</html>