<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio-Estudiantil</title>
     <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <!-- Header -->
    {{> header}}

   <div class="portfolio" id="portfolio"> 
    <div class="portfolio-headings">
          <article class="typing_effect">
        <h2>Mi Portafolio Estudiantil</h2>
        </article>
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card_img">
            </div>
            <div class="card_title">
                <h2>Descripcion del proyecto:</h2>
                <p>"COMPILADOR"</p>
                <p>Diseño de aplicación que genere las fases correspondientes a un compilador,
                    siendo estas las principales:</p>
                <p>Gestión de archivos.</p>
                <p>Analizador léxico.</p>
                <p>Analizador sintáctico.</p>
                <p>Analizador semántico.</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://drive.google.com/drive/folders/1AtP1S_C6VEI0CD-LYD9G2QcRuwjtZuJN" target="_blank">
                    Detalles del proyecto
                </a>
            </button>
        </div>
        </div>
        <div class="card">
            <div class="card_img1">
            </div>
            <div class="card_title">
                <h2>Descripcion del proyecto:</h2>
                <P>"CLIENTE-SERVIDOR"</P>
                <p>Se mostrará el código y donde se describe la función de cada línea del
                    programa utilizado Python sobre la cual consta de montar un servidor
                    en el dispositivo Raspberry pi con su respectivo cliente. RaspberryPI-OS 
                    es una distribución del sistema operativo GNU/Linux Debian.</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://drive.google.com/drive/u/0/folders/1KnktLY1XYkt4R2JZRQZdPFeHnKlBsyZk" target="_blank">
                    Detalles del proyecto
                </a>
            </button>
        </div>
        </div>
        <div class="card">
            <div class="card_img2">
            </div>
            <div class="card_title">
                <h2>Descripcion del proyecto:</h2>
                <p>"BASE DE DATOS"</p>
                <p>Creacion de formulario web donde se llame a la partición y agregar
                    a DB,triggers, procedimientos almacenados, funciones.Clase 
                    de impresión formatos pdf, xls, txt, xml.
                    Buscar por zona, primera letra 
                    del nombre, codigo y mostrarlos en un reporte.</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://drive.google.com/drive/u/0/folders/1Qsk4j74YZvX4iA0rkAStxcdmUEEySIWG" target="_blank">
                    Detalles del proyecto
                </a>
            </button>
        </div>
        </div>
    </div>
</div>

    <div>
                    <center>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/znN9hAuHMjE?si=7PX7asN6rKZDRdA6&amp;start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </center>
     </div>


<div class="portfolio"> 

    <div class="container">
        <div class="card">
            <div class="card_img3">
            </div>
            <div class="card_title">
                <h2>Descripcion del proyecto:</h2>
                <p>"CCNA V6"</p>
                <p>Los capitulos abajo descritos, incluen las prácticas de laboratorio, quiz y actividades de drag and drop 
                    que figuran en cada capitulo.</p>
                <p>Modulo 1</p>
                <p>Modulo 2</p>
                <p>Modulo 3</p>
                <p>Modulo 4</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://drive.google.com/drive/u/0/folders/1uagL3H-7_S-h2LJE2No8bOM8C0dpFNll" target="_blank">
                    Detalles del proyecto
                </a>
            </button>
        </div>
        </div>
        <div class="card">
            <div class="card_img8">
            </div>
            <div class="card_title">
                <h2>Descripcion del proyecto:</h2>
                <P>"REST-SERVER"</P>
                <p>Se describen los ejercicios realizados en JavaScript y la base de datos 
                    MongoDB ya que brinda mejores conocimientos sobre Cliente-Servidor.
                </p>
                <p>-HTTP</p>
                  <p>-URL</p>
                    <p>-JSON</p>
        </div>
        <div class="projects-links">
            <a href="" target="_blank">
                <i class=""></i>
            </a>
            <a href="">
                <i class=""></i>
            </a>
            <a href="">
                <i class="" style="color: #fff;"></i>
            </a>
        </div>
        <div class="proyect-details-content">
            <button class="projects-details dowland-cv">
                <a href="https://github.com/05WilliamCH/06-RestServer.git" target="_blank">
                    Detalles del proyecto en GitHub
                </a>
            </button>
        </div>
        </div>
        </div>
    </div>
</div>
    
    
        <div class="container-contact">
            <img src="/images/estadisticas-facebook.png" alt="">
    
            <div class="contact-form">
                <h4>Enviar un mensaje...</h4>
    
                <form class="form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Por favor coloca tu mensaje aqui...">
                    </textarea>
                    <button class="btn-submit">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
   {{> footer}}
    
</body>
</html>